* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #e7dede;
  color: #333;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
}
